@font-face {
	font-family: 'helvetica';
	src: url('../fonts/black/black.eot'),
	url('../fonts/black/black.woff') format('woff'), 
	url('../fonts/black/black.ttf') format('truetype'), 
	url('../fonts/black/black.eot?#iefix') format('embedded-opentype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'helvetica';
	src: url('../fonts/blackitalic/blackitalic.eot'),
	url('../fonts/blackitalic/blackitalic.woff') format('woff'), 
	url('../fonts/blackitalic/blackitalic.ttf') format('truetype'), 
	url('../fonts/blackitalic/blackitalic.eot?#iefix') format('embedded-opentype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'helvetica';
	src: url('../fonts/bold/bold.eot'),
	url('../fonts/bold/bold.woff') format('woff'), 
	url('../fonts/bold/bold.ttf') format('truetype'), 
	url('../fonts/bold/bold.eot?#iefix') format('embedded-opentype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'helvetica';
	src: url('../fonts/bolditalic/bolditalic.eot'),
	url('../fonts/bolditalic/bolditalic.woff') format('woff'), 
	url('../fonts/bolditalic/bolditalic.ttf') format('truetype'), 
	url('../fonts/bolditalic/bolditalic.eot?#iefix') format('embedded-opentype');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'helvetica';
	src: url('../fonts/italic/italic.eot'),
	url('../fonts/italic/italic.woff') format('woff'), 
	url('../fonts/italic/italic.ttf') format('truetype'), 
	url('../fonts/italic/italic.eot?#iefix') format('embedded-opentype');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'helvetica';
	src: url('../fonts/light/light.eot'),
	url('../fonts/light/light.woff') format('woff'), 
	url('../fonts/light/light.ttf') format('truetype'), 
	url('../fonts/light/light.eot?#iefix') format('embedded-opentype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'helvetica';
	src: url('../fonts/lightitalic/lightitalic.eot'),
	url('../fonts/lightitalic/lightitalic.woff') format('woff'), 
	url('../fonts/lightitalic/lightitalic.ttf') format('truetype'), 
	url('../fonts/lightitalic/lightitalic.eot?#iefix') format('embedded-opentype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'helvetica';
	src: url('../fonts/medium/medium.eot'),
	url('../fonts/medium/medium.woff') format('woff'), 
	url('../fonts/medium/medium.ttf') format('truetype'), 
	url('../fonts/medium/medium.eot?#iefix') format('embedded-opentype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'helvetica';
	src: url('../fonts/regular/regular.eot'),
	url('../fonts/regular/regular.woff') format('woff'), 
	url('../fonts/regular/regular.ttf') format('truetype'), 
	url('../fonts/regular/regular.eot?#iefix') format('embedded-opentype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'helvetica';
	src: url('../fonts/thin/thin.eot'),
	url('../fonts/thin/thin.woff') format('woff'), 
	url('../fonts/thin/thin.ttf') format('truetype'), 
	url('../fonts/thin/thin.eot?#iefix') format('embedded-opentype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'helvetica';
	src: url('../fonts/thinitalic/thinitalic.eot'),
	url('../fonts/thinitalic/thinitalic.woff') format('woff'), 
	url('../fonts/thinitalic/thinitalic.ttf') format('truetype'), 
	url('../fonts/thinitalic/thinitalic.eot?#iefix') format('embedded-opentype');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'helvetica';
	src: url('../fonts/ultralight/ultralight.eot'),
	url('../fonts/ultralight/ultralight.woff') format('woff'), 
	url('../fonts/ultralight/ultralight.ttf') format('truetype'), 
	url('../fonts/ultralight/ultralight.eot?#iefix') format('embedded-opentype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'helvetica';
	src: url('../fonts/ultralightitalic/ultralightitalic.eot'),
	url('../fonts/ultralightitalic/ultralightitalic.woff') format('woff'), 
	url('../fonts/ultralightitalic/ultralightitalic.ttf') format('truetype'), 
	url('../fonts/ultralightitalic/ultralightitalic.eot?#iefix') format('embedded-opentype');
	font-weight: 200;
	font-style: italic;
}

body{
	font-family: 'helvetica';
}