.login{
	position: relative;
	height: 100vh;
	overflow-x: hidden;
	@media (max-width: $screen-md-max) {
		height: auto;
	}
	&:after{
		content: '';
		background-image: url('../images/admin-bg1.png');
		background-size: cover;
		background-repeat: no-repeat;
		position: absolute;
		left: 0;
		top: 0;
		width: 450px;
		height: 100%;
		z-index: -1;
		@media (max-width: $screen-md-max) {
			width: 150px;
			left: -50px;
		}
		@media (max-width: $screen-xs-max) {
			display: none;
		}
	}
	&:before{
		content: '';
		position: absolute;
		background-image: url('../images/login-bg.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		right: 0;
		left: 44.8%;
		height: 100%;
		width: 100%;
		@media (max-width: $screen-sm-max) {
			display: none;
		}
	}
	&__left{
		padding-top: 20px;
	}
	&__top{
		a{
			display: inline-block;
		}
		ul{
			float: right;
			display: inline-block;
			li{
				list-style-type: none;
				display: inline-block;
				a{
					font-size: 25px;
					color: #000;
					font-weight: 200;
					text-decoration: none;
					transition: all .3s;
					@media (max-width: $screen-xs-max) {
						font-size: 18px;
						padding-top: 10px;
					}
					&:hover{
						color: #9f248f;
					}
				}
			}
		}
	}
	&__block{
		display: block;
		margin: 0 auto;
		margin-top: 50px;
		width: 130px;
		height: 130px;
		transform: rotate(45deg);
		border-radius: 5px;
		background-image: url('../images/copi1.png');
		background-repeat: no-repeat;
		background-size: cover;
		text-align: center;
		padding: 10px;
		@media (max-width: $screen-xs-min) {
			width: 100px;
			height: 100px;
			margin-top: 20px;
		}
		img{
			transform: rotate(-45deg);
			display: inline-block;
			margin-left: -10px;
			@media (max-width: $screen-xs-min) {
				margin-left: 0;
				max-width: 80%;
				width: 100%;
			}
		}
	}
	&__form{
		padding-top: 50px;
		@media (max-width: $screen-xs-max) {
			padding-top: 25px;
		}
		h3{
			font-size: 25px;
			margin: 0;
			color: #000;
			font-weight: 400;
			@media (max-width: $screen-sm-max) {
				text-align: center;
			}
			@media (max-width: $screen-xs-max) {
				font-size: 22px;
			}
			@media (max-width: $screen-xs-min) {
				font-size: 18px;
			}
		}
		form{
			@media (max-width: $screen-sm-max) {
				display: block;
				margin: 0 auto;
				max-width: 395px;
				width: 100%;
			}
			p{
				color: #000;
				font-size: 18px;
				font-weight: 400;
				margin: 0;
				padding-top: 15px;
				@media (max-width: $screen-xs-min) {
					font-size: 14px;
				}
			}
			.input-group {
				max-width: 395px;
				width: 100%;
				margin-top: 25px;
				label{
					font-size: 18px;
					color: #979797;
					font-weight: 400;
					@media (max-width: $screen-xs-min) {
						font-size: 14px;
					}
				}
				&.active i {
					color: #6a32b9;
				}
				input {
					border: none;
					font-size: 18px;
					color: #73369e;
					border-bottom: 1px solid #dbdbdb;
					max-width: 100%;
					width: 100%;
					transition: all 0.5s ease-out;
					position: relative;
					@media (max-width: $screen-xs-min) {
						font-size: 14px;
					}
				}
				input {
					&:focus {
						outline: none;
						border-bottom: 1px solid #73369e;
					}
				}
				input {
					&:disabled {
						border-bottom: 2px dotted #dbdbdb;
						cursor: not-allowed;
					}
				}
				i{
					position: absolute;
					right: 0;
					bottom: 2px;
					font-size: 20px;
					color: #979797;
				}
			}
			.btn {
				margin-top: 20px;
				background-color: #73369e;
				color: #fff;
				font-size: 20px;
				font-weight: 500;
				text-transform: uppercase;
				padding: 8px 25px;
				border-radius: 5px;
				box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.2);
				transition: all .3s;
				@media (max-width: $screen-xs-min) {
					font-size: 16px;
					padding: 5px 20px;
				}
				&:hover {
					cursor: pointer;
					background-color: #e22469;
					box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4), 0 4px 20px 0 rgba(0, 0, 0, 0.2);
				}
				&:active {
					background-color: #73369e;
				}
			}


		}
	}
	&__right{
		padding-top: 50px;
		padding-left: 50px;
		@media (max-width: $screen-md-max) {
			text-align: center;
			padding-left: 0;
		}
		@media (max-width: $screen-sm-max) {
			text-align: left;
			padding-bottom: 30px;
		}
		@media (max-width: $screen-xs-max) {
			text-align: center;
		}
		@media (max-width: $screen-xs-min) {
			padding-top: 25px;
		}
		h2{
			color: #fff;
			font-size: 50px;
			margin: 0;
			font-weight: 200;
			@media (max-width: $screen-sm-max) {
				color: #000;
				font-size: 40px;
				text-align: center;
			}
			@media (max-width: $screen-xs-min) {
				font-size: 25px;
			}
			span{
				font-weight: 500;
			}
		}
		h4{
			margin: 0;
			color: #fff;
			font-weight: 400;
			font-size: 25px;
			padding-top: 40px;
			@media (max-width: $screen-sm-max) {
				color: #000;
				font-size: 22px;
				text-align: center;
				padding-top: 20px;
			}
			@media (max-width: $screen-xs-min) {
				font-size: 18px;
			}
		}
	}
	&__item{
		padding-top: 60px;
		@media (max-width: $screen-md-max) {
			padding-top: 30px;
		}
		img{
			display: inline-block;
			@media (max-width: $screen-xs-max) {
				display: block;
				margin: 0 auto;
			}
		}
		p{
			display: inline-block;
			font-size: 20px;
			color: #fff;
			margin: 0;
			font-weight: 300;
			padding-left: 20px;
			vertical-align: middle;
			@media (max-width: $screen-md-max) {
				padding-left: 0;
			}
			@media (max-width: $screen-sm-max) {
				color: #000;
				padding-left: 10px;
				font-size: 18px;
			}
			@media (max-width: $screen-xs-max) {
				display: block;
				br{
					display: none;
				}
			}
			@media (max-width: $screen-xs-min) {
				font-size: 14px;
			}
		}
	}
	&__footer{
		padding-top: 80px;
		@media (max-width: $screen-sm-max) {
			padding-top: 40px;
		}
		a{
			font-size: 16px;
			font-weight: 500;
			color: #000;
			text-decoration: none;
			transition: all .3s;
			@media (max-width: $screen-xs-min) {
				font-size: 11px;
			}
			img{
				padding-right: 10px;
				@media (max-width: $screen-xs-min) {
					padding-right: 5px;
				}
			}
			i{
				padding-right: 10px;
				@media (max-width: $screen-xs-min) {
					padding-right: 5px;
				}
			}
			&:hover{
				color: #73369e;
			}
			&:nth-child(2){
				float: right;
				@media (max-width: $screen-xs-min) {
					float: none;
					padding-left: 10px;
				}
			}
		}
	}
}